@import '../../style/variables.scss';

.app {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .decoration {
    position: relative;
    text-align: center;
    display: block;
    width: 250px;
    margin: 0 auto;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 60px;
        height: 1px;
        background-color: $black;;
        top: 15px;
    }

    &::before {
        left: 30px;
    }

    &::after {
        right: 30px;
    }
  }

  .best {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 80px 0 110px;
    background-image: url(../../resources/content/best-bg.jpg);
    background-size: cover;
    text-align: center;
    color: $black;

    .title {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 24px;
    }

    .card:nth-child(3n) {
      margin-right: 0;
  }

    .coffee-list {
      margin: 0 auto;
      max-width: 1440px;
      padding: 0 320px;
    }
  }

  .filter-panel {
    display: flex;
    max-width: 1440px;
    padding: 0 320px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .products {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1440px;
    padding: 0 150px;
    margin: 0 auto;

    .card {
      filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
      background-color: $white;

      &:nth-child(even) {
        margin-right: 0;
       }

      &:hover,
      &:active,
      &:focus {
          filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
      }
    }  
  }
}
